#board {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(14, 70, 255);
    margin-top: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.title {
    text-align: center;
    margin-top: 2%;
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#p1 {
    padding: 5px 30px;
    margin: 0 100px; /* Adjust the margin as needed */
    background-color: rgba(255, 0, 0, 1);
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    margin-top: -2%;

}

#p2 {
    padding: 5px 30px;
    margin: 0 100px;
    background-color: rgba(255, 255, 0, 1);
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    margin-top: -2%;
}

#reset {
    padding: 5px 30px;
    margin: 0 100px;
    background-color: rgb(143, 169, 253);
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    text-align: center;
    position: fixed;
    bottom: 1%;
}

.piece {
    height: 90px;
    width: 90px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
}

.red-piece {
    height: 90px;
    width: 90px;
    margin: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.yellow-piece {
    height: 90px;
    width: 90px;
    margin: 5px;
    background-color: rgb(255, 230, 0);
    border-radius: 50%;
    display: inline-block;
}
